main {
    max-width: 500pt;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

game-board {
    width: 88.889%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background: #555;
}

x-label {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background: #555;
}

y-label {
    width: 11.111%;
    float: left;
    display: grid;
    grid-template-columns: auto;
    background: #555;
}

board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 4pt;
    box-sizing: border-box;
}

board-tile:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

game-piece {
    border-radius: 50%;
    width: 75%;
    height: 75%;
}

.white {
    background: #fff;
    border-color: #fff;
}

.black {
    background: #000;
    border-color: #000;
}

.label {
    font-size: x-large;
    color: black;
}

.red {
    background: #e74c3c;
}

.blue {
    background: cornflowerblue;
}